.CenteredActionFooter-module__centered-action-footer___2DZZe{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;-ms-flex-pack:center;justify-content:center}

.ExampleTemplate__content-wrapper___2VIsv{max-width:768px}[dir] .ExampleTemplate__content-wrapper___2VIsv{border:3px dotted #d3d4d5;padding-top:2rem}

